<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Edit Pet Details')"></head>

<nav th:replace="fragments/navbar :: navbar"></nav>

<main class="container">

    <h1>Add Pet Details</h1>

    <form th:action="'/pets/' + ${petDetail.id} + '/details/edit'" th:method="POST" th:object="${petDetail}">
        <div class="form-group">
            <label for="sterile">
                Is the pet sterile?
                <input id="sterile" class="form-control" type="checkbox"  th:field="*{sterile}" />
            </label>
        </div>
        <div class="form-group">
            <label for="weight">Please enter the approximate pet weight in ounces</label>
            <input id="weight" class="form-control" type="number" min="1" max="1000"  th:field="*{weightInOunces}" />
        </div>
        <div class="form-group">
            <label for="personalityDescription">Please describe the pet's personality.</label>
            <textarea id="personalityDescription" class="form-control"  rows = "20" cols = "80" th:field="*{personalityDescription}" placeholder="Enter description"></textarea>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>

</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:replace="fragments/scripts :: scripts"></script>

</html>