<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('List of all the ads')"></head>
<description class="container">
    <h1>Create an Ad</h1>

    <form action="/ads/save" method="post">
        <label for="">Title</label>
        <input type="text" name="title" />
        <label for="">Description</label>
        <input type="text" name="desc" />
        <button class="btn btn-primary">Submit</button>
    </form>

    <script th:replace="fragments/scripts :: scripts"></script>
</description>
</html>