<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- This is an example of many fragments in a single file -->

<th:block th:fragment="headerBasics">
    <meta charset="UTF-8"/>
    <title>My application</title>
</th:block>

<th:block th:fragment="someCSS">
    <link th:if="${role == 'admin'}" rel="stylesheet" href="/css/admin.css" />
    <link th:if="${role != 'admin'}" rel="stylesheet" href="/css/user.css" />
</th:block>

<th:block th:fragment="myLinks">
    <script>
        console.log("Fer");
    </script>
</th:block>

</html>